@font-face {font-family: "fontFamily";
  src: url('iconfont.eot?t=1598237203658'); /* IE9 */
  src: url('iconfont.eot?t=1598237203658#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKwAAsAAAAABpgAAAJhAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBDIERATYCJAMICwYABCAFhQUHLxvOBRHVi22yHwnZKeb9gau09SI73XgTPE9j6vt3F7qkwCiBUAGQq0pkkXy7CTlfNRKGJZCcwgDYb9sjjZIWEhZ5Hfq3frJzbAz5PnHv9P/GeRfwA/D2pDUXUOeBdIHtBRTJAowybhi7ieAB3oYAlmQKkaaWriHcGMAiAWR1aWEKd8GBwThhN4KzYadBTnHgVnvqNZzwz8v3cnGDwqEBWX3zzbPUffoNo7T/v3+UEjhBMPY7AA0UAgZkqDHQg0YcpsYGDOlwrHSBT7///6d65KgaxPnrQKoPgESd+0w8zH/UsAJ4rJEUAGWTTgMp2JGgp4Fs38JN4Ho/cvY6ep7NuPRHzfnu/VlBWIa7g4QeZ0aY+5TSnFIVGjIS+ip0ODNT0lJThxUrrw5RtdKUtriUR52tH6WROsDPdJt2IoDA88HN/omQql9urwHg3VJnBFcbhpnAvXOjwE/iDewysQDolAl5jYOKgpOXWSzw37SE83GqMuqOIoIlaoLJRUoGjSWbNPRSOPBSASeWZlgK6N3vJYJdNGI8QD5HGoRInkERzCtoInlDGvpPOIgWgZNIiYFlRApO9JItASs3EgpGDfIPXq2LQRquyHOjmH36v9CeSVCpSj7zQzr8ukBXtzXhCRekpdYcl+2ZDRhaZxi778OUVthoDai4dszb0DSm6UG1WuesyhoJBaMG+Qev1sVQC1fy+0cx+/R/oT2ToM6G1cIf0uGbx4eubgeRk3QZWPdo5xyX7ZkNGNIYM/CWmIYprbA1TwuouHYTfNvQwH5mqLS+tHz+00OAzYBK5XBCmTncuUqfZQAAAA==') format('woff2'),
  url('iconfont.woff?t=1598237203658') format('woff'),
  url('iconfont.ttf?t=1598237203658') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1598237203658#fontFamily') format('svg'); /* iOS 4.1- */
}

.fontFamily {
  font-family: "fontFamily" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="el-icon-zchuobi"], [class*="el-icon-zchuobi"] {
  font-family:"fontFamily" !important;
  /* 以下内容参照第三方图标库本身的规则 */
  font-size: 18px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-zchuobi:before {
  content: "\e6fb";
}

[class^="el-icon-zctongzhi"], [class*="el-icon-zctongzhi"] {
  font-family:"fontFamily" !important;
  /* 以下内容参照第三方图标库本身的规则 */
  font-size: 18px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-zctongzhi:before {
  content: "\e623";
}

